.DS_Store
/.gradle/
/gradle-bridge/.gradle/
/.amper/
/.amper-cache/
/.amper-user-home/
/build/
/gradle-bridge/build/
/gradle-bridge/shared-kit/build/
/android-app/build/
/ios-app/build/
/shared/build/
/shared-core/build/
/shared-feature-home/build/
/shared-ui-home/build/
local.properties
/.idea/
android-app/keystore.properties
android-app/*.jks
android-app/*.keystore
fastlane/AuthKey.p8
fastlane/report.xml
secrets/
ios-app/module.xcodeproj/project.xcworkspace/*
!ios-app/module.xcodeproj/project.xcworkspace/xcshareddata/
ios-app/module.xcodeproj/project.xcworkspace/xcshareddata/*
!ios-app/module.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
ios-app/module.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/*
!ios-app/module.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
ios-app/module.xcodeproj/project.xcworkspace/xcuserdata/
ios-app/module.xcodeproj/xcuserdata/
/.gradle-user-home/
